@model PCShop.ViewModels.CPU.ByIdModel

<form method="post">
    @PartialViews.ValidationPartial
    <input type="hidden" value="@Model.Id"/>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text" name="imageUrl" class="form-control" id="" value="@Model.ImageUrl">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" class="form-control" id="" value="@Model.Price">
    </div>

    <div class="form-group">
        <label for="frequency">Frequency (in GHz)</label>
        <input type="text" name="frequency" class="form-control" id="" value="@Model.Frequency">
    </div>
    <div class="form-group">
        <label for="turboFrequency">Turbo frequency (in GHz)</label>
        <input type="text" name="turboFrequency" class="form-control" id="" value="@Model.TurboFrequency">
    </div>
    <div class="form-group">
        <label for="physicalCores">Physical cores</label>
        <input type="number" name="physicalCores" class="form-control" id="" value="@Model.PhysicalCores">
    </div>
    <div class="form-group">
        <label for="logicalCores">Logical cores</label>
        <input type="number" name="logicalCores" class="form-control" id="" value="@Model.LogicalCores">
    </div>
    <div class="form-group">
        <label for="cache">Cache</label>
        <input type="text" name="cache" class="form-control" id="" value="@Model.Cache">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>